* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.titulo {
    font-family: "Oswald";
}

.shopp {
    margin-top: 100px;
}

.wrappi {
    flex-wrap: wrap;
}

.margen {
    margin-bottom: 50px;
}