* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.titulo {
    font-family: "Oswald";
}

/*HEADER*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    background-color: black;
}

.logo {
    width: 15%;
    user-select: none;
    cursor: pointer;
}

.navegacion a {
    position: relative;
    font-size: 1.1rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navegacion a::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -6px;
    left: 0;
    height: 2px;
    background: #D1CCDC;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .6s;
}

.navegacion a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navegacion .btn-subb {
    width: 160px;
    height: 50px;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem;
    color: #ffffff;
    font-weight: 600;
    margin-left: 40px;
}

.navegacion .btn-subb:hover {
    background-color: #ffffff;
    color: black;
    transition: .6s
}

/*FORMULARIO LOGIN/REGISTER*/
.fondo {
    z-index: 100;
    width: 400px;
    height: 550px;
    background-color: black;
    border: 2px solid rgba(255, 255, 255, 0.801);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 25px rgba(82, 82, 82, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform .6s ease height .2s ease;
    display: none;
}

.fondo.active-btn {
    display: block;
    margin: 0 auto;
    margin-top: 170px;
}

.contenedor-form {
    width: 100%;
    padding: 40px;
    position: absolute;
    transition: transform .6s ease;
}

.contenedor-form.active-form {
    transform: translateX(0);
}

.contenedor-form:not(.active-form) {
    transform: translateX(-400px);
}

.icono-cerrar {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
    font-size: 1.8rem;
    color: black;
}

.contenedor-form h2 {
    font-size: 2em;
    color: #ffffff;
    text-align: center;
    font-family: "Oswald";
}

.contenedor-input {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #ffffff;
    margin: 16px 0;
}

.contenedor-input label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 600;
    pointer-events: none;
    transition: .4s;
    color: #ffffff;
}

.contenedor-input input:focus~label,
.contenedor-input input:valid~label {
    top: -5px;
}

.contenedor-input input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #F1EFEF;
    padding: 0 35px 0 5px;
}

.contenedor-input .icono {
    position: absolute;
    right: 8px;
    font-size: 1.4em;
    color: #ffffff;
    line-height: 57px;
}

.recordar {
    font-size: .9em;
    margin: 25px 0 15px;
    font-weight: 350;
}

.recordar label input {
    accent-color: #ffffff;
    margin-right: 3px;
}

.recordar a {
    color: #ffffff;
    text-decoration: none;
}

.recordar a:hover {
    text-decoration: underline;
}

.contenedor-form h2 {
    font-weight: 900;
}

.contenedor-form .btn-subb {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border: none;
    border-radius: 6px;
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 600;
}

.contenedor-form .registrar {
    font-size: .9em;
    text-align: center;
    margin-top: 25px;
}

.recordar > label, .registrar > p {
    color: #888888;
}

.contenedor-form .registrar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

.contenedor-form .registrar a:hover {
    text-decoration: underline;
}

/*SECTION 1*/
.banner {
    margin-top: 80px;
    width: 100%;
    background-color: #3D2C2E;
}

.banner img {
    width: 100%;
}

/*SECTION 2*/
.met-pago {
    display: flex;
    justify-content: center;
    background-color: #3D2C2E;
    padding: 40px 0;
}

.cont-pago {
    width: 85%;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.tarjetas {
    display: flex;
    flex: 1;
    font-size: small;
    gap: 5%;
}

.tarjetas > img {
    width: 40px;
    height: 40px;
}

.tarjetas > div {
    width: 80%;
}

/*SECTION DESTACADOS*/
.destacados {
    margin: 40px 0;
    margin-bottom: 80px;
}

.destacados > h1 {
    margin-bottom: 40px;
    text-align: center;
}

.desta {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.card-desta {
    width: 250px;
}

.ropa {
    width: 100%;
}

.card-desta > div > .nom-ropa {
    font-size: 13px;
    color: #414141;
    text-decoration: none;
}

.card-desta > div > .price {
    font-weight: 600;
}

.card-desta > div > .cuotas {
    font-size: small;
    font-weight: 600;
    color: rgb(230, 0, 0);
}

.card-desta > div > button {
    width: 100%;
    display: flex;
    border: none;
    color: #ffffff;
    background-color: #3D2C2E;
    border-radius: 2px;
    margin-top: 10px;
    padding: 8px;
    justify-content: center;
}

.card-desta:hover{
    border: 0.2px solid rgba(148, 148, 148, 0.5);
}

.card-desta > div > button:hover {
    color: #dfdfdf;
    background-color: #4e4748;
    transition: 0.5s;
}

.ropa {
    width: 100%;
    transition: opacity 0.1s ease; /* Transición rápida de opacidad */
}

/*SECTION NEWSLETTER*/
.newsletter {
    background-color: #3D2C2E;
    color: #ffffff;
    display: flex;
}

.new {
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
}

.new1 {
    flex: 5;
    align-self: center;
}

.new1 > form > .btn-new{
    width: 60%;
}

.new1 > form > .btn-enviar{
    width: 25px;
}

.new1 > h2 {
    margin-bottom: 30px;
}

.new2 {
    flex: 1;
}

.new2 > img {
    width: 100%;
}

/*FOOTER*/
footer {
    background-color: #886F68;
    padding: 20px 0;
}

.footi{
    width: 70%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.nav-foot {
    text-align: center;
}

.nav-foot > a{
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
}

.redes-sociales {
    display: flex;
    width: 20%;
    margin: 0 auto;
    margin-top: 20px;
}

.redes-sociales > a {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-decoration: none;
    color: #886F68; 
    background-color: #ffffff; 
    margin: 0 20px;
    padding: 3px 8px;
    border-radius: 50%;
}
